html
  head
    title MessyChat - Chat with people at any spot
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="css/bootstrap.css" rel="stylesheet")
    link(href="css/flat-ui.css" rel="stylesheet")
    link(href="/favicon.ico"    rel="shortcut icon")
  body
    div.container-fluid
      div.row.bg-primary
        div.col-md-12
          div.row
            div.col-md-4.col-md-offset-4.col-xs-4.col-xs-offset-4.text-center(style="margin-top: 44px;")
              img(src="/img/logo-lg.png" style="width: 80%;")
          br
          div.row
            div.col-md-12.text-center
              h2 MessyChat
                div.row
            div.col-md-12.text-center
              h5.text-primary Chat with people at any spot.
            div.col-md-12.text-center
              a(href="https://itunes.apple.com/cn/app/messychat/id913066292?mt=8")
                img(src="/img/app_store.png")
          br
      div.row
        br
        div.col-md-6.col-md-offset-3.text-center
          a.twitter-timeline(href="https://twitter.com/messystatus" data-tweet-limit="6" data-widget-id="511014780442640384" data-chrome="nofooter noheader transparent noscrollbar") MessyChat Status
          script(type='text/javascript').
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        br
      div.row
        div.col-md-8.col-md-offset-2
          h6
            span
              a(href="http://twitter.com/yanke_guo") @yanke_guo
            span.pull-right
              a(href="mailto:support@messychat.com") support@messychat.com
      div.row
        br
    script(src='js/jquery-1.8.3.min.js')
    script(src='js/jquery-ui-1.10.3.custom.min.js')
    script(src='js/jquery.ui.touch-punch.min.js')
    script(src="js/bootstrap.min.js")
    script(src="js/bootstrap-select.js")
    script(src="js/bootstrap-switch.js")
    script(src="js/flatui-checkbox.js")
    script(src="js/flatui-radio.js")
    script(src="js/jquery.tagsinput.js")
    script(src="js/jquery.placeholder.js")
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53662611-6', 'auto');
      ga('send', 'pageview');

